/* Estilos básicos */
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  background-color: #0000;
  margin: 100;
  padding: 100;
}

@keyframes fadeIn {
  from {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 7em;
    opacity: 1;
    color: #ffffff;
    transform: translateY(-800); /* Empieza desde arriba */
  }
  to {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 7em;
    opacity: 1;
    color: #000000;
    transform: translateY(0); /* Termina en su posición original */
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    color: #ffffff;
    transform: translateY(-400)); /* Empieza desde la izquierda */
  }
  to {
    opacity: 1;
    color: #000000;
    transform: translateY(0); /* Termina en su posición original */
  }
}

h1 {
  font-size: 7em;
  text-align: center;
  font-weight: 10;
  padding: 100px;
  margin: 100px;
  transition: 1s ease-in-out;
  color: #000000;
  animation: fadeIn 2s ease-in-out; /* Aplica la animación fadeIn */
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5em;
  text-align: center;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  transition: 1s ease-in-out;
  padding: 0px;
  margin: 0px;
  color: #000000;
 
}

h3 {
  color: #ff0000;
}

section {
  color: rgb(221, 255, 0);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.flex-items {
  padding: 0 2em 0 0;
  color: #ffffff;
}

.flex-items:nth-child(1) {
  padding: 0 2em 0 0;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  padding: 0 2em 0 0;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  padding: 0 2em 0 0;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(4) {
  padding: 0 2em 0 0;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(5) {
  padding: 0 2em 0 0;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(6) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
