/* Estilos básicos */

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  background-color: #ffff;
  margin: 100;
  padding: 100;
  align-items: center;
  justify-content: center;
}

body :hover {
  text-shadow: 0 0 5px #ff53c0;
  animation: slideIn 0.01s infinite ease-in-out;
  align-items: center;
  justify-content: center;
}

strong {
  display: block;
}

@keyframes fadeIn {
  from {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 7em;
    opacity: 1;
    color: #ffffff;
    transform: translateY(-800); /* Empieza desde arriba */
  }
  to {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 7em;
    opacity: 1;
    color: #000000;
    transform: translateY(0); /* Termina en su posición original */
  }
}

@keyframes slideIn {
  from {
    opacity: 1;
    color: #000000;
    transform: translateY(0px); /* Empieza desde la izquierda */
  }
  to {
    opacity: 1;
    color: #ff53c0;
    transform: translateY(0px); /* Termina en su posición original */
  }
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 3em;
  text-align: center;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
  transition: 1s ease-in-out;
  color: #000000;
  animation: slideIn 2s ease-in-out;
  /* Aplica la animación fadeIn */
}
h2,
h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 3em;
  text-align: center;
  font-weight: 5;
  padding: 0px;
  margin: 0px;
  transition: 1s ease-in-out;
  color: #000000;
  animation: slideIn 2s ease-in-out; /* Aplica la animación fadeIn */
}

h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 3em;
  text-align: center;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  transition: 1s ease-in-out;
  padding: 5px;
  margin: 5px;
  color: #000000;
}

section {
  color: rgb(221, 255, 0);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.flex-items {
  padding: 0 2em 0 0;
  color: #ffffff;
}

.flex-items:nth-child(1) {
  padding: 0 2em 0 0;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  padding: 0 2em 0 0;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  padding: 0 2em 0 0;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(4) {
  padding: 0 2em 0 0;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(5) {
  padding: 0 2em 0 0;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(6) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
