/* Estilos base (Mobile First) */
body {
  margin: 0%;
  font-family: Helvetica, sans-serif;
  font-weight: 80;
}

header {
  font-weight: 40;
  text-align: left;
  padding: 1rem;
}
h1 {
  font-weight: 70;
  text-align: left;
  padding-left: 4rem;
}

footer {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  background: #d1d1d1;
  color: #464646d6;
  text-align: center;
  padding: 1rem;
}
nav {
  border-bottom: 1px solid black;
  background-color: #ffffff;
  padding: 0.4rem;
}
.contenedor-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mi-imagen {
  width: 300px;
  height: auto;
  border-radius: 10px;
  text-align: center;
}
.responsive-iframe {
  width: 100vw;
  height: 700px;
  border-radius: 10px;
  border: none;
  margin: 15px;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  color: rgb(0, 0, 0);
}

.nav-item {
  font-weight: 300;
  font-size: 0.9rem;
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto;
  padding: 0rem;
  padding-bottom: 0rem;
  text-align: justify;
}

.columna {
  /*
		Sintaxis: flex: [flex-grow] [flex-shrink] [flex-basis];
		- flex-grow:    1 → permite que crezca para ocupar espacio disponible
		- flex-shrink:  1 → permite que se reduzca si no cabe
		- flex-basis: 100% → ancho base deseado para esta columna
		En este caso: 1 columna por fila en móvil.
	*/
  flex: 1 1 100%;
  box-sizing: border-box;
  padding: 0.7rem;
}

.columna:nth-child(odd) {
  background: #ffffff5b;
}

/* Tablet (min-width: 600px) — 2 columnas */
@media (min-width: 600px) {
  .columna {
    flex: 1 1 50%;
    font-size: 1rem;
  }
}

@media (min-width: 900px) {
  .columna {
    flex: 1 1 33.33%;
    font-size: 1rem;
  }
}
